<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowedTypes</key>
	<array>
		<string>public.swift-source</string>
	</array>
	<key>MainTemplateFiles</key>
	<string>___FILEBASENAME___.swift</string>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>A class implementing a any UIView with injected View Model </string>
	<key>Summary</key>
	<string>A class implementing a any UIView with injected View Model </string>
	<key>SortOrder</key>
	<integer>4</integer>
	<key>DefaultCompletionName</key>
	<string>View</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>Name of the View</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Name</key>
			<string>Cell name:</string>
			<key>Default</key>
			<string>View</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Description</key>
			<string>What class to subclass in the new file</string>
			<key>Identifier</key>
			<string>viewSubclass</string>
			<key>Name</key>
			<string>Subclass of:</string>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string>UIView</string>
			<key>NotPersisted</key>
			<true/>
		</dict>
		<dict>
			<key>Description</key>
			<string>Name of the View Model Protocol</string>
			<key>Identifier</key>
			<string>viewModel</string>
			<key>Name</key>
			<string>View model protocol name:</string>
			<key>Default</key>
			<string>ViewModeling</string>
			<key>Type</key>
			<string>text</string>
			<key>NotPersisted</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
