<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>moduleName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Module Name:</string>
			<key>Description</key>
			<string>The name of the Module</string>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string></string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>reducer</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Reducer Name:</string>
			<key>Description</key>
			<string>The name of the Reducer</string>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string></string>
		</dict>
		<dict>
			<key>Description</key>
			<string>Add view?</string>
			<key>Identifier</key>
			<string>view</string>
			<key>Name</key>
			<string>Generate view for the selected store</string>
			<key>Type</key>
			<string>checkbox</string>
		</dict>
	</array>
</dict>
</plist>
